body{
    width: 1020px;
    color: white;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
}

.portfolio{
    background-color: rgb(47, 45, 56);
    border-bottom: 5px solid  rgb(56, 56, 56);
    padding: 40px;
    padding-top: none;
    padding-bottom: 60px;
}

.post-photos{
    overflow-y: scroll;
    height: 600px;
    width: auto;
}

#buttonAll{
    color: rgb(255, 255, 255);
    border-color: white;
}

.button{
    border-radius: 5px;
    border: solid 1px rgb(102, 96, 121);
    background-color:  rgb(47, 45, 56);
    margin: 1px;
    color: rgb(102, 96, 121);
    font-size: small;
    font-family: Latin300;
}

.buttons{
    padding-bottom: 10px;
}

.button:hover{
    background-color:   rgb(102, 96, 121);
    color:  rgb(47, 45, 56);
    border-color: white;
}

#buttonAll:hover{
    background-color:   rgb(102, 96, 121);
    color:  rgb(47, 45, 56);
}

p{
    color: rgb(102, 96, 121);
    font-family: LatinRegular;
    font-size: 12px;
}
h1,h2{
    color: rgb(102, 96, 121);
    font-family: Latin900;
    padding-bottom: 0px;
}

.photos{
    width: 280px;
    display: flex;
    align-items: center;
}

.photo{
    padding: 0px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
}

a{
    text-decoration: none;
}

.icon:hover{
    filter: alpha(Opacity=50);
    opacity: 0.5; 
}

.aboutUs{
    background-color: rgb(220, 220, 220);
    border-bottom: 5px solid  rgb(200, 200, 200);
    padding: 40px;
    padding-top: none;
    padding-bottom: 60px;
}

.post-photo{
    padding: 5px;
}

.post-photos::-webkit-scrollbar{
    width: 0px;  
}

h2{
    font-size: 24px;
    margin-bottom: 0px;
}

.text{
    font-size: 17px;
}